section.container-fluid{
    padding-top: 30px;
    padding-bottom: 30px;

}

.section-heading{
    text-align: center;
}


.introduction-section{
    background: #449d44;
    color: #fff;
}
.project-section{
    background: #1b8bbc;
    color: #fff;
}

.position-section{
    background: #FB1B43;
}

.education-section{
    background: #fb1;
}

.skill-section{
    background: #fb1bbc;
    
}

.certification-section{
    background: #0505FB;
    color:#FFF;
}

.progress{
    height: 5px;
    border-radius: 0px;
}